@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0f172a; /* slate-900 */
}

/* スクロールバーのカスタマイズ（スマホ・PC両対応） */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}
